<a href="https://colab.research.google.com/github/eljuanrv/Data_Science_With_Python/blob/main/Data_Manipulation_with_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Course Description
pandas is the world's most popular Python library, used for everything from data manipulation to data analysis. In this course, you'll learn how to manipulate DataFrames, as you extract, filter, and transform real-world datasets for analysis. Using pandas you’ll explore all the core data science concepts. Using real-world data, including Walmart sales figures and global temperature time series, you’ll learn how to import, clean, calculate statistics, and create visualizations—using pandas to add to the power of Python!

# 1 Transforming DataFrames

Let’s master the pandas basics. Learn how to inspect DataFrames and perform fundamental manipulations, including sorting rows, subsetting, and adding new columns.

In [ ]:
import pandas as pd

In [ ]:
.head()#first rows

In [ ]:
.info()#info about

In [ ]:
.describe()#statistics

In [ ]:
.shape#dimentions

In [ ]:
.values#data in two dimensional Numpy array

In [ ]:
.columns#columns of the df

In [ ]:
.index#indices of the df

In [ ]:
.sort_values(column,ascending=)#you can sor by multiple variables using a list of columns

In [ ]:
.isin(values)#you cal filter rows using this

# 2 Aggregating DataFrames

In this chapter, you’ll calculate summary statistics on DataFrame columns, and master grouped summary statistics and pivot tables

## SUMMARY STATISTICS

In [ ]:
.mean()

In [ ]:
.median()

In [ ]:
.mode()

In [ ]:
.min()

In [ ]:
.max()

In [ ]:
.var()

In [ ]:
.std()

In [ ]:
.sum()

In [ ]:
.quantile()

In [ ]:
.agg(function_name or list of functions)

In [ ]:
.cumsum()

In [ ]:
.cummax()

In [ ]:
.cummin()

In [ ]:
.cumprod()

## count

In [ ]:
.drop_duplicates(subset=column)#the column could be just one or even more

In [ ]:
.value_counts(sort=True)

In [ ]:
.value_counts(normalize=True)#return the fraction of the total of each value

## Grouped summary statistics

In [ ]:
df.groupby(column name)[variable or variables].agg(functions or a list of functions to apply)

## Pivote Tables

In [ ]:
df.pivot_table(values=numeric column,columns=values of columns,index=index values,aggfunc=function or a list,fill_value=numeric,margins=to fill NAN calculate total)

# 3 Slicing and Indexing DataFrames

Indexes are supercharged row and column names. Learn how they can be combined with slicing for powerful DataFrame subsetting

## Explicit Indexes

In [ ]:
.set_index(column name)#cambiar el indice del df por los valores de una columna en especifico

In [ ]:
.reset_index(drop = True)#reinicia el indice nuevamente y el indice anterior los pasa a una nueva columna o lo elimina si usas el argumeento drop

In [ ]:
.sort_index()#ordena el df en base a los valores del indice puedes usar el level argument para especificar el indice en caso de ser multindice

## Slicing and Subseting using .loc

In [ ]:
df.loc['str1':'str2']#son inclusivos tanto el primero como el segundo argumento

In [ ]:
df.iloc[num1:num2]#el primer numero es inclusivo pero el segundo no los es

## Working with Pivot Tables

date columns

In [ ]:
temperatures.date.dt.year#puedes acceder al año

In [ ]:
temperatures.date.dt.month#puedes accceder al me etc

# 4 Creating and Visualizing DataFrames

Learn to visualize the contents of your DataFrames, handle missing data values, and import data from and export data to CSV files.

## Visualizing Your Data

In [ ]:
df.plot(x='xaxis',y='yaxis',kind='line or bar etc',rot=grades)

dos graficas en la misma imagen

In [ ]:
df.hist(,alpha=0.5)
df.hist()
plt.legend()
plt.show()

## Missing Values

In [ ]:
df.isna().any()#una lista que indica si las culumnas tienen algun missing value

In [ ]:
df.isna().sum()#el total de missing values por coluna

In [ ]:
df.dropna()#elimina todos los registros que tienen algun missing value

In [ ]:
df.fillna(number)#cambia los missing values por el valor de number

## Creating df

- Row by row usando una lista de diccionarios
- Column by column usando un diccionario de listas

`funcion pd.DataFrame()`

In [ ]:
import pandas as pd

In [ ]:
import numpy as np

### lista de diccionarios

In [ ]:
# Create a list of dictionaries with new data
avocados_list = [
    {'date': '2019-11-03', 'small_sold': 10376832, 'large_sold': 7835071},
    {'date': '2019-11-10', 'small_sold': 10717154, 'large_sold': 8561348},
]

In [ ]:
# Convert list into DataFrame
avocados_2019 = pd.DataFrame(avocados_list)

# Print the new DataFrame
avocados_2019

         date  small_sold  large_sold
0  2019-11-03    10376832     7835071
1  2019-11-10    10717154     8561348

### Diccionario de listas

In [ ]:
# Create a dictionary of lists with new data
avocados_dict = {
  "date": ['2019-11-17','2019-12-01','2019-12-01'],
  "small_sold": [10859987,9291631,7000000],
  "large_sold": [7674135,	6238096,np.nan]
}

In [ ]:
# Convert dictionary into DataFrame
avocados_2019 = pd.DataFrame(avocados_dict)

# Print the new DataFrame
print(avocados_2019)

         date  small_sold  large_sold
0  2019-11-17    10859987   7674135.0
1  2019-12-01     9291631   6238096.0
2  2019-12-01     7000000         NaN

In [ ]:
avocados_2019.loc[avocados_2019.small_sold.notnull() & avocados_2019.large_sold.notnull()]

         date  small_sold  large_sold
0  2019-11-17    10859987   7674135.0
1  2019-12-01     9291631   6238096.0

## Reading and writting a csv

In [ ]:
df=pd.read_csv(path)

In [ ]:
df.to_csv(path)

# [Project](https://projects.datacamp.com/projects/619)

In [ ]:
# eliminar caracteres en los registros

chars_to_remove = ['+',',','$']
# List of column names to clean
cols_to_clean = ['Installs','Price']

# Loop for each column in cols_to_clean
for col in cols_to_clean:
    # Loop for each char in chars_to_remove
    for char in chars_to_remove:
        # Replace the character with an empty string
        apps[col] = apps[col].apply(lambda x: x.replace(char, ''))
        
# Print a summary of the apps dataframe
print(apps.info())

In [ ]:
# cambiar el tipo de dato de un df

.astype(float)

In [ ]:
# grafica con plotly

import plotly
plotly.offline.init_notebook_mode(connected=True)
import plotly.graph_objs as go

# Print the total number of unique categories
num_categories = len(apps.Category.unique())
print('Number of categories = ', num_categories)

# Count the number of apps in each 'Category'. 
num_apps_in_category = apps.Category.value_counts()

# Sort num_apps_in_category in descending order based on the count of apps in each category
sorted_num_apps_in_category = num_apps_in_category.sort_values(ascending = False)

data = [go.Bar(
        x = num_apps_in_category.index, # index = category name
        y = num_apps_in_category.values, # value = count
)]

plotly.offline.iplot(data)

Plotly histogram [documentation](https://plotly.com/python/histograms/)

In [ ]:
# Histograma con plotly

# Average rating of apps
avg_app_rating = apps.Rating.mean()
print('Average app rating = ', avg_app_rating)

# Distribution of apps according to their ratings
data = [go.Histogram(
        x = apps['Rating']
)]

# Vertical dashed line to indicate the average app rating
layout = {'shapes': [{
              'type' :'line',
              'x0': avg_app_rating,
              'y0': 0,
              'x1': avg_app_rating,
              'y1': 1000,
              'line': { 'dash': 'dashdot'}
          }]
          }

plotly.offline.iplot({'data': data, 'layout': layout})

joinplot() [documentation](https://seaborn.pydata.org/generated/seaborn.jointplot.html)

In [ ]:
## joinplot con seaborn

%matplotlib inline
import seaborn as sns
sns.set_style("darkgrid")
import warnings
warnings.filterwarnings("ignore")

# Select rows where both 'Rating' and 'Size' values are present (ie. the two values are not null)
apps_with_size_and_rating_present = apps.loc[apps.Rating.notnull() & apps.Size.notnull()]

# Subset for categories with at least 250 apps
large_categories = apps_with_size_and_rating_present.groupby('Category').filter(lambda x: len(x) >= 250)

# Plot size vs. rating
plt1 = sns.jointplot(x = large_categories['Size'], y = large_categories['Rating'])

# Select apps whose 'Type' is 'Paid'
paid_apps = apps_with_size_and_rating_present.loc[apps_with_size_and_rating_present.Type == 'Paid']

# Plot price vs. rating
plt2 = sns.jointplot(x = paid_apps['Price'], y = paid_apps['Rating'])

In [ ]:
# otra grafica bonita

import matplotlib.pyplot as plt
fig, ax = plt.subplots()
fig.set_size_inches(15, 8)

# Select a few popular app categories
popular_app_cats = apps[apps.Category.isin(['GAME', 'FAMILY', 'PHOTOGRAPHY',
                                            'MEDICAL', 'TOOLS', 'FINANCE',
                                            'LIFESTYLE','BUSINESS'])]

# Examine the price trend by plotting Price vs Category
ax = sns.stripplot(x = popular_app_cats['Price'], y = popular_app_cats['Category'], jitter=True, linewidth=1)
ax.set_title('App pricing trend across categories')

# Apps whose Price is greater than 200
apps_above_200 = popular_app_cats.loc[popular_app_cats.Price > 200]
apps_above_200[['Category', 'App', 'Price']]

## Box Plot
- [Plotly Box plot](https://plot.ly/python/box-plots/)
- [Interpreting Box plots](https://www.wellbeingatschool.org.nz/information-sheet/understanding-and-interpreting-box-plots)

In [ ]:
## otra grafica

trace0 = go.Box(
    # Data for paid apps
    y = apps[apps['Type'] == 'Paid']['Installs'],
    name = 'Paid'
)

trace1 = go.Box(
    # Data for free apps
    y = apps[apps['Type'] == 'Free']['Installs'],
    name = 'Free'
)

layout = go.Layout(
    title = "Number of downloads of paid apps vs. free apps",
    yaxis = dict(title = "Log number of downloads",
                type = 'log',
                autorange = True)
)

# Add trace0 and trace1 to a list for plotting
data = [trace0, trace1]
plotly.offline.iplot({'data': data, 'layout': layout})